.container {
  padding: 80px 20px;
  width: 80%;
  margin: 0 auto;
}
.title_2 {
  font-size: 3rem;
  font-weight: 400;
  font-family: "Quicksand", sans-serif;
  margin-bottom: 20px;
}
.subtitle {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px 0;
  line-height: 1.5;
  width: 50%;
}
