.container {
  padding: 20px 20px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  gap: 20px;
}
.logo_img {
  object-fit: cover;
  height: 80px;
}
.nav_items {
  display: flex;
  align-items: center;
  height: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  gap: 20px;
}
.nav_link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  user-select: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}
.nav_link:hover {
  background-color: #2b92ea;
  color: #fff;
}
.nav_link.active {
  background-color: #2b92ea;
  color: #fff;
}
.link {
  text-decoration: none;
  color: inherit;
}
.hambuger_menu,
.close_menu {
  display: none;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
}
.close_menu {
  position: absolute;
  top: 40px;
  right: 40px;
}
.mobile_nav_items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #2b92ea;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  z-index: 9999;
}
.mobile_nav_items.active {
  transform: translateX(0);
}
.mobile_nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.mobile_nav_link {
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease;
  user-select: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 20px;
}
@media screen and (max-width: 980px) {
  .navbar {
    width: 90%;
  }
  .nav_items {
    display: none;
  }
  .hambuger_menu,
  .close_menu {
    display: block;
  }
}
